<h2>Create a new task</h2>

<%= form_for @task do |f| %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>

<!-- could put into a _form.html.erb and just render form here, then can use the same form for edit.html.erb -->
